.film_main_p {
    font-size: 20px;
  margin-top:20%;
}
a.film_main_button {
    font-size: 40px
}
a, a:link, a:hover {
  text-decoration: none !important; 
  
}
.actors {
  display: flex;
  margin: 20px;
}
.actor {
  display: flex;
  justify-content: center;
}
.photos  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.photo img {
  width:250px;
  height: 200px;
  margin: 10px;
}
.actor_photo_url img{
  height: 2100px;
}
.form-login {
  margin-bottom: 10px !important;
}
.styling {
  margin: 10px;
}
.film_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bordered {
  border: 5px solid black;
}